@import url("~~/node_modules/bootstrap/dist/css/bootstrap.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif !important;
}

.fw-max {
  font-weight: 900;
}

#background {
  background: linear-gradient(180deg, rgba(133, 65, 223, 0.3) 0%, rgba(0, 133, 231, 0.3) 27.5%, rgba(92, 226, 255, 0.3) 81.5%, rgba(255, 195, 79, 0.3) 100%, rgba(255, 195, 79, 0.3) 100.01%);
  filter: blur(100px);
  opacity: 0.5;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -123;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.125rem);
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}